.about-body-container{
  margin: 0 auto;
  margin-left: 80px;
  align-items: center;
  ul li{
    list-style: none;
  }
  h2{
    color: white;
    font-size:medium;
    letter-spacing: 0.2em;
  }
  h1{
    color: white;
    letter-spacing: 0.2em;
    padding-bottom: 20px;
  }
}


.about-fullscreen{
  align-items: center;
  background: $black;
  background-size: cover;
  padding: 50px 0;
  text-align: center;
  color: white;
}
#about-img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.about-container{
  justify-content: center;

  li{
    list-style: none;
  }
    p{
    color: white;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: thin;
    text-align: center;
  }
}

.col-sm{
  text-align: center;
  padding:0;
  img{
    width: 100%;
  }
  .centered {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }
  p{
    font-size: 16px;
  }
}

.col-lg{
  text-align: center;
  margin: auto 7px;
  padding: 0;
  background-color: $black;
  border-radius:20px;
  p{
    font-size:20px;
    color: white;
    margin-top: 0.9em;
  }
}
.about-row{
  width: 75%;
  display: inline-flex;
  margin-top: -100px;
}



@media (max-width: 960px) {
  .about-body-container{
    h1{
    font-size: 32px;
    padding-bottom: 10px;
    }
  h2{
    font-size: 16px;
  }
  }
  .about-fullscreen{
    background-position: right;
  }
.container{
  p{
    font-size:12px;
  }
}
}
@media (max-width: 720px) {
  .about-body-container{
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 12px;
  }
  }
  .about-fullscreen{
    background-position: right;
  }
.about-container{
  p{
    font-size:14px;
  }
}
}
@media (max-width: 540px) {
  .about-body-container{
    h1{
      font-size: 20px;
      margin-left: -50px;
      padding-bottom: 15px;
    }
    h2{
      font-size: 16px;
      margin-left: -50px;
    }
  }

  .about-container p{
      font-size:12px;
  }

  .about-fullscreen{
    background-position: right;
  }
}
