.about-body-container{
  margin: 0 auto;
  margin-left: 80px;
  align-items: center;
  ul li{
    list-style: none;
  }
  h2{
    color: white;
    font-size:medium;
    letter-spacing: 0.2em;
  }
  h1{
    color: white;
    letter-spacing: 0.2em;
    padding-bottom: 20px;
  }
}



.about-fullscreen{
  align-items: center;
  background: $black;
  background-size: cover;
  padding: 50px 0;
}

.about-container{
  justify-content: center;
  li{
    list-style: none;
  }
    p{
    color: white;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: thin;
    text-align: center;
  }
}

@media (max-width: 960px) {
  .about-body-container{
    h1{
    font-size: 32px;
    padding-bottom: 10px;
    }
  h2{
    font-size: 16px;
  }
  }
  .about-fullscreen{
    background-position: right;
  }
.container{
  p{
    font-size:12px;
  }
}
}
@media (max-width: 720px) {
  .about-body-container{
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 12px;
  }
  }
  .about-fullscreen{
    background-position: right;
  }
.about-container{
  p{
    font-size:14px;
  }
}
}
@media (max-width: 540px) {
  .about-body-container{
    h1{
      font-size: 20px;
      margin-left: -50px;
      padding-bottom: 15px;
    }
    h2{
      font-size: 16px;
      margin-left: -50px;
    }
  }

  .about-container p{
      font-size:12px;
  }

  .about-fullscreen{
    background-position: right;
  }
}
