.report-body-container{
  margin: 0 auto;
  margin-left: 80px;
  ul li{
    list-style: none;
  }
  h2{
    color: white;
    font-size:medium;
    letter-spacing: 0.2em;
  }
  h1{
    color: white;
    letter-spacing: 0.2em;
    padding-bottom: 20px;
  }
  h3{
    color: white;
    font-size: 68px;
    font-weight: bold;
  }
  p{
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: thin;
  }
}


.report-fullscreen{
  align-items: center;
  height: 100vh;
  display: flex;
  background: url(../images/virtual.png);
  background-size: cover;
  margin-right: 90px;
  margin-left: 90px;
  background-position: right;
  margin-bottom: 60px;
}



@media (max-width: 960px) {
  .report-body-container{
    margin-left: -10px;
    h1{
    font-size: 26px;
    }
    h2{
      font-size: 16px;
      margin-top: -50px;
    }
    h3{
      font-size: 42px;
    }
  }
  #h2-responsiveness{
    margin-top: 25px;
  }
  .report-fullscreen{
    background-position: right;
    height: 40vh;
    margin-bottom: 40px;
  }
  .event-fullscreen{
    background-position: right;
    background-position: right -30px;
  }
}
@media (max-width: 720px) {
  .report-body-container{
    h1{
      font-size: 24px;
    }
    h2{
      font-size: 12px;
      margin-top: -100px;
    }
    h3{
    font-size: 32px;
    }

  }
  .report-fullscreen{
    background-position: right;
  }
  .event-fullscreen{
    background-position: right;
  }
}
@media (max-width: 540px) {
  .report-body-container{
    margin-left: 85px;
    h1{
      font-size: 24px;
      margin-left: -106px
    }
    h2{
      font-size: 16px;
      margin-left: -106px;
      margin-top: -60px;
    }
    h3{
      font-size: 32px;
    }
    a{
      margin-left: -80px;
    }
  }
  .report-fullscreen{
    background-position: right;
    height: 60vh;
    margin-right: 50px;
    margin-left: 50px;
  }
  .event-fullscreen{
    background-position: right;
  }
}
