.accordion{
  margin-right: 80px;
  margin-left: 80px;
}
#accordionExample{
  margin-bottom: 5em;
  .card-header{
    background-color: $black;
    border-bottom: 2px solid $light-gray;
  }
  .card{
    border: none;
  }
  .btn-link{
    color: white;
  }
  .card-body{
    background-color: $light-gray;
    color: $mid-gray;
  }
}

#faq h1{
  padding-top: 2em;
  padding-bottom: 0;
}
