.howto-fullscreen{
  align-items: center;
  height: 100vh;
  display: flex;
  background: white;
  background-size: cover;
}

.howto-body-container{
  align-items: center;
  margin: 0 auto;
  ul li{
    list-style: none;
  }
  h2{
    color: black;
    font-size:medium;
    letter-spacing: 0.2em;
    margin-left: -100px;
  }
  h1{
    color: black;
    letter-spacing: 0.2em;
    padding-bottom: 20px;
    margin-left: -100px;
  }
  p{
    color: black;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: thin;
  }
}

.col{
  h1{
    font-size: 16px;
    margin-left: 0px !important;
  }
  h2{
    font-size:12px;
    margin-left: 0px !important;
  }
  p{
    font-size:12px;
  }
}
.row{
  padding: 1em 0;
}
