#mentor-img .col-md{
    width: 280px;
    text-align: left;
    img{
      width: 100% !important;
    }
  }

.sns{
  padding-bottom: 24px !important;
  text-align: right;
  a{
    color: $light-gray;
    margin-right: 4px;
    margin-left: 4px;
    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}

hr{
  background-color: white;
  height: 0.3px;
  border-radius: 7px 7px 7px 7px;
}

.middle{
  text-align: center;
  margin-top: -70px;
  img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 90px;
    margin-left: 380px;

  }
}

.second-row{
    width: 100%;
  }


@media (max-width: 1100px){
  .middle{
    text-align: center;
    margin-top: -70px;
    img{
      width: 36%;
      margin-top: 60px;
      margin-left: 220px;

    }
  }
}

@media (max-width: 960px){
  .sns a{
    font-size: medium;
  }
  .long-name h1{
    font-size: 22px !important;
    margin-top: 2px;
  }
  .middle img{
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-right: 50px;
    margin-top: 80px;
  }
}

@media (max-width: 768px){
  .sns a{
    font-size: medium;
  }
  .long-name h1{
    font-size: 18px !important;
    margin-top: 2px;
  }
  .mentor-row{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 540px) {
  .sns a{
    font-size: small;
  }
  .middle{
    margin-bottom: 80px;
    img{
      width: 80%;
      margin-top: 60px;
      margin-left: 50px;
      margin-bottom:-60px;
    }
  }
  .mentor-row{
    margin-left: 35px;
    margin-right:0px;
  }
  .second-row{
    width: 100% !important;
  }
}
