#center-col-img{
  text-align: center;
}

// About Section User Illustrations
#user-journey-img{
  margin-right:  -50px !important;
  img{
    width: 40% !important;
  }
}

@media (max-width: 1024px){
  #user-journey-img{
    margin-right:  0px !important;
    img{
      width: 70% !important;
    }
  }
  #menu h2{
    margin-top: -50px;
  }
}

@media (max-width: 960px){
}

@media (max-width: 768px){
  #user-journey-img{
    margin-right:  -20px !important;
    img{
      width: 60% !important;
    }
  }
  #menu h2{
    margin-top: -10px;
  }
  #mentors h2{
    margin-top: 140px;
  }
}

@media (max-width: 540px){
    #user-journey-img{
    margin-right:  0px !important;
    img{
      width: 60% !important;
    }
  }
  #menu h2{
    margin-top: 20px;
  }
  #mentors h2{
    margin-top: 100px;
  }
}
