.sns{
  padding-bottom: 32px !important;
  text-align: right;
  a{
    color: $light-gray;
    margin-right: 6px;
    margin-left: 6px;
    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}

hr{
  background-color: white;
  height: 0.3px;
  border-radius: 7px 7px 7px 7px;
}

@media (max-width: 960px){
  #mentor-img{
    width:70% !important;
  }
  .sns a{
    font-size: medium;
  }
}

@media (max-width: 720px){
  #mentor-img{
    width:70% !important;
  }
  .sns a{
    font-size: medium;
  }
}

@media (max-width: 540px) {
  #mentor-img{
    width:90% !important;
  }
  .sns a{
    font-size: small;
  }
}
