.uservoice-fullscreen{
  background: url(../images/uservoice.png);
  align-items: center;
  height: 100vh;
  display: flex;
  background-size: cover;
  margin-right: 90px;
  margin-left: 90px;
  margin-bottom:160px;
}

.comingsoon-text h3 {
  font-size: 4.2rem;
  // animation: flicker 1.5s infinite alternate;
  font-weight: 400 !important;
  letter-spacing: 0.2em;
  font-family:'Prata';
  }


@media (max-width: 960px) {
  .uservoice-fullscreen{
    height: 40vh;
    margin-bottom: 80px;
  }
  .comingsoon-text h3{
    font-size: 36px;
  }
}

@media (max-width: 720px){
  .uservoice-fullscreen{
    height: 60vh;
    margin-right: 50px;
    margin-left: 50px;
  }
  .comingsoon-text h3{
    font-size: 32px;
    margin-left: -100px;
    line-height: normal;
  }
}
