<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky content">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" alt="Beyond Bar Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="smooth" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="smooth" href="#projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="smooth" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</div> %>
<nav class="navbar navbar-expand-sm bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" alt="Beyond Bar Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#concept">CONCEPT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#howto">HOW TO USE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">USER VOICE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MENTORS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">EVENT REPORTS</a>
      </li>
      <li class="nav-item">
        <a href="https://line.me/R/ti/p/%40278opcnw" target=”_blank”>
          <button class="nav-button" style="vertical-align:middle"><span>会員登録</span></button>
        </a>
      </li>
    </ul>
  </div>
</nav>
