<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Beyond Bar Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#concept">CONCEPT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#howto">HOW TO USE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#menu">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#uservoice">USER VOICE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#mentors">MENTORS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#eventreports">EVENT REPORTS</a>
      </li>
    </ul>
  </div>
</nav>
