<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-custom" >
  <a class="navbar-brand" href="#top"><img src="assets/images/logo.png" alt="Beyond Bar Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id=hide>
    <span class="navbar-toggler-icon"></span>
    <%# <div class="close-icon py-1">✖</div> %>
  </button>
  <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link hashscroll" href="#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hashscroll" href="#howto">MEMBERSHIP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hashscroll" href="#menu">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hashscroll" href="#mentors">MENTORS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hashscroll" href="#eventreports">EVENTS</a>
      </li>
      <li>
        <a href="https://lin.ee/PG223AN" target=”_blank”>
          <button class="btn btn-default navbar-btn button"><span>会員登録 (無料)</span></button>
        </a>
      </li>
    </ul>
  </div>
</nav>
