<div class="about-fullscreen" id="about">
  <div id="about-subheaders">
    <h1>こんなことで悩んでいませんか？</h1>
    <p>"自分の市場価値がどれくらいなのか"<br>
      "社外の同世代の動向が気になる"<br>
      "わたしの人生果たしてこのままでいいのか"</p>
    <img src="../assets/images/worry.png" alt="Two people with worried expression">
  </div>
  <div id="about-subheaders">
    <h1>BEYOND BARとは</h1>
  </div>
  <p>そんな貴方と同じ悩みを持つ社会人達が<br>
    夜な夜な集う秘密の「バーチャル」空間。<br>
    <br>
    キャリアの先生がバーテンダーになって<br>
    あなたの悩みを解決しながら、
  </p>
  <h1><span class="neonText" style="font-weight:300;">明日を楽しくする時間を届けます。</span></h1>
  <div id="about-subheaders-2">
    <h1>BEYOND BARができること</h1>
  </div>
</div>
<div class="howto-grid-container justify-content-center" >
  <div class="row" id="white-text">
    <div class="col-md about-bgd-img" id="col-center-about" style="background-image:url(../assets/images/01.jpeg)">
      <h2>01</h2>
      <p>職務経歴書の添削から転職/起業まで、幅広いキャリアコーチングができます。</p>
    </div>
    <div class="col-md about-bgd-img" id="col-center-about" style="background-image:url(../assets/images/02.jpeg)">
      <h2>02</h2>
      <p>イベントやセミナーを通じて、キャリアアップに繋がる知識を提供できます。</p>
    </div>
    <div class="col-md about-bgd-img" id="col-center-about" style="background-image:url(../assets/images/03.jpeg)">
      <h2>03</h2>
      <p>仕事もプライベートも楽しめる同世代と出会える機会をご用意できます。</p>
    </div>
  </div>
</div>
<div class="video">
  <p>BEYOND BARの様子</p>
  <video width="600"  loop="loop" muted="muted" autoplay="autoplay" playsinline>
    <source src="../assets/videos/onlinebar.mp4" type="video/mp4">
  </video>
</div>
<div class="about-fullscreen" style="padding-bottom:0px; margin-top:-50px">
  <div id="about-subheaders">
    <h1>こんな人におすすめ</h1>
  </div>
</div>
<div class="howto-grid-container justify-content-center" style="margin: 0 160px 120px 160px">
  <div class="row">
    <div class="col-md-4 col-md" id="user-journey-img">
      <img src="../assets/images/user-1.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>Case One</h2>
      <h1>自分の市場価値を知りたいタイプ</h1>
      <p>・気軽にBEYOND BARのイベントに参加してみましょう！<br>
        ・職務経歴書を添削してもらいましょう！<br>
        ・ご自身の今後の人生プランを1on1で相談しましょう！</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md" id="user-journey-img">
      <img src="../assets/images/user-2.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>Case Two</h2>
      <h1>同世代で頑張ってる仲間から刺激を受けたいタイプ</h1>
      <p>・BEYOND BARのイベントに参加、または、キャリアアドバイザーに1on1で相談しましょう！<br>
        ・同世代Slackコミュニティに参加しましょう！<br>
        ・BEYOND BARで出会った仲間と新しい取り組みをしてみましょう！<br>
        ・ご自身の今後のキャリアアップについて考えてみましょう！</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md" id="user-journey-img">
      <img src="../assets/images/user-3.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>Case Three</h2>
      <h1>直近で転職や起業などを考えているタイプ</h1>
      <p>・キャリアアドバイザーに1on1で相談しましょう！<br>
        ・キャリアアドバイザーからご自身に合う企業を紹介してもらいましょう！<br>
        ・面接でご自身の魅力を伝えるために一緒に準備をしましょう！</p>
    </div>
  </div>
</div>
