<div class="about-fullscreen" id="about">
  <div class="about-container d-flex justify-content-center">
    <div class="about-row">
      <div class="col-lg">
        <p>自分の市場価値か<br>
          どれくらいなのか</p>
      </div>
      <div class="col-lg">
        <p>社外の同世代の<br>
          動向が気になる</p>
      </div>
      <div class="col-lg">
        <p>俺の人生果たして<br>
          このままでいいのか</p>
      </div>
    </div>
  </div>
  <img src="../assets/images/worry.png" alt="Two people with worried expression" id="about-img">
  <p>test</p>
</div>
