<div class="howto-grid-container justify-content-center" style="margin: 0 160px 120px 160px">
  <div class="row">
    <div class="col-md-4 col-md" id="user-journey-img">
      <img src="../assets/images/worry.png" alt="Two people with worried expression">
    </div>
    <div class="col-md-8 col-md">
      <p>"自分の市場価値ががどれくらいなのか"</p>
      <p>"社外の同世代の動向が気になる"</p>
      <p>"わたしの人生果たしてこのままでいいのか"</p>
    </div>
  </div>
</div>
<div class="about-fullscreen" id="about">
  <div class="about-container d-flex justify-content-center">
    <div class="about-row">
      <div class="col-lg">
        <p style="margin-bottom:0"><span class='quotes'>"</span><br>
          自分の市場価値がが<br>
          どれくらいなのか</p>
      </div>
      <div class="col-lg">
        <p style="margin-bottom:0"><span class='quotes'>"</span><br>
          社外の同世代の<br>
          動向が気になる</p>
      </div>
      <div class="col-lg">
        <p style="margin-bottom:0"><span class='quotes'>"</span><br>
          わたしの人生果たして<br>
          このままでいいのか</p>
      </div>
    </div>
  </div>
  <img src="../assets/images/worry.png" alt="Two people with worried expression" id="about-img">
  <div id="about-subheaders">
    <h1>BEYOND BARとは</h1>
  </div>
  <p><br>
    そんな貴方と同じ悩みを持つ社会人達が<br>
    夜な夜な集う秘密の「バーチャル」空間。<br>
    <br>
    キャリアの先生がバーテンダーなって<br>
    あなたの悩みを解決しながら、
  </p>
  <h1><span class="neonText" style="font-weight:100;">明日を楽しくする時間を届けます。</span></h1>
  <div id="about-subheaders-2">
    <h1>BEYONDBARができること</h1>
  </div>
</div>
<div class="howto-grid-container justify-content-center" >
  <div class="row" id="white-text">
    <div class="col-md about-bgd-img" id="col-center" style="background-image:url(../assets/images/01.png)">
      <h2>01</h2>
      <p>1on1で貴方の職務経歴書を添削したり、転職から起業まで幅広いキャリアの話をすることで未来が具体化されます。</p>
    </div>
    <div class="col-md about-bgd-img" id="col-center" style="background-image:url(../assets/images/02.png)">
      <h2>02</h2>
      <p>イベントやコミュニティで自分に足りない知識を得られます。</p>
    </div>
    <div class="col-md about-bgd-img" id="col-center" style="background-image:url(../assets/images/03.png)">
      <h2>03</h2>
      <p>同じ悩みをもつ、仕事を頑張る同世代と交流することで新しいキッカケが生まれます。</p>
    </div>
  </div>
</div>
<div class="video">
  <p>イベントの様子</p>
  <video width="600"  autoplay loop muted>
    <source src="../assets/videos/onlinebar.mp4" type="video/mp4">
  </video>
</div>
<div class="about-fullscreen" style="padding-bottom:0px; margin-top:-50px">
  <div id="about-subheaders">
    <h1>BEYONDBARの使い方</h1>
  </div>
</div>
<%# <div class="howto-grid-container justify-content-center" style="margin-bottom:190px">
  <div class="row">
    <div class="col-md" id="col-center">
      <h2>ジャッキー</h2>
      <h1>自分の市場価値を知りたいタイプ</h1>
      <p>・まずはフランクにBARイベントに参加してみよう！・職務経歴書を添削してもらおう！・自分の今後のプランを1on1で相談しよう！</p>
    </div>
    <div class="col-md" id="col-center">
      <h2>ゆみ</h2>
      <h1>同世代で頑張ってる仲間から刺激を受けたいタイプ</h1>
      <p>・同世代Slackコミュニティに参加しよう！・BARイベントに参加してみよう！・BARで出会った仲間と新しい取り組みをしてみよう！・次のキャリアアップを考えてみよう！</p>
    </div>
    <div class="col-md" id="col-center">
      <h2>としあき</h2>
      <h1>直近で転職や起業などを考えているタイプ</h1>
      <p>・プロに1on1で相談してみよう・自分に合う企業を推薦してもらおう・面接でうまく伝えるために練習してもらおう</p>
    </div>
  </div>
</div> %>
<div class="howto-grid-container justify-content-center" style="margin: 0 160px 120px 160px">
  <div class="row">
    <div class="col-md-4 col-md" id="user-journey-img">
      <img src="../assets/images/user-1.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>Case One</h2>
      <h1>自分の市場価値を知りたいタイプ</h1>
      <p>1. まずはフランクにBARイベントに参加してみよう！<br>
        2. 職務経歴書を添削してもらおう！<br>
        3. 自分の今後のプランを1on1で相談しよう！</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md" id="user-journey-img">
      <img src="../assets/images/user-2.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>Case Two</h2>
      <h1>同世代で頑張ってる仲間から刺激を受けたいタイプ</h1>
      <p>1. 同世代Slackコミュニティに参加しよう！<br>
        2. BARイベントに参加してみよう！<br>
        3. BARで出会った仲間と新しい取り組みをしてみよう！<br>
        4. 次のキャリアアップを考えてみよう！</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md" id="user-journey-img">
      <img src="../assets/images/user-3.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>Case Three</h2>
      <h1>直近で転職や起業などを考えているタイプ</h1>
      <p>1. プロに1on1で相談してみよう!<br>
        2. 自分に合う企業を推薦してもらおう!<br>
        3. 面接でうまく伝えるために練習してもらおう!</p>
    </div>
  </div>
</div>
