<div class="about-fullscreen" id="about">
  <div class="about-container d-flex justify-content-center">
    <div class="about-row">
      <div class="col-lg">
        <p style="margin-bottom:0"><span class='quotes'>"</span><br>
          自分の市場価値がが<br>
          どれくらいなのか</p>
      </div>
      <div class="col-lg">
        <p style="margin-bottom:0"><span class='quotes'>"</span><br>
          社外の同世代の<br>
          動向が気になる</p>
      </div>
      <div class="col-lg">
        <p style="margin-bottom:0"><span class='quotes'>"</span><br>
          わたしの人生果たして<br>
          このままでいいのか</p>
      </div>
    </div>
  </div>
  <img src="../assets/images/worry.png" alt="Two people with worried expression" id="about-img">
  <p><br>
    そんな貴方と同じ悩みをもつ社会人達が、<br>
    夜な夜な集う秘密の空間。<br>
    <br>
    キャリアの先生がバーテンダーとなって<br>
    貴方の悩みを解決しながら、
  </p>
  <h1>あしたを楽しくする時間を届けます。</h1>
</div>
<div class="container" style="margin-bottom:56px">
  <div class="row">
    <div class="col-sm">
      <img src="../assets/images/01.png" alt="同世代と交流">
      <p class=centered>01<br>
        同じ悩みをもつ同世代と
        交流することができます</p>
    </div>
    <div class="col-sm">
      <img src="../assets/images/02.png" alt="イベントやコミュニティ">
      <p class=centered>02<br>
        イベントやコミュニティで
        自分に足りない知識を得ることができます</p>
    </div>
    <div class="col-sm">
      <img src="../assets/images/03.png" alt="1on1">
      <p class=centered>03<br>
        1on1で職務経歴書を添削したり、
        キャリアの相談(転職から起業まで)に
        乗ることができます</p>
    </div>
  </div>
</div>
