<div class="fullscreen">
  <div class="main-container" id="banner">
    <ul>
      <li>
        <h1 id=banner-title>20代限定<br>
          キャリアの悩みを解決する<br>
          会員制オンライン<span class="neonText"><span id=banner-title-bar>BAR</span></span></h1>
      </li>
    </ul>
    <div class="fade-in">
      <img src="../assets/images/bartender.png" alt="" id="banner-image">
    </div>
  </div>
  <div class="problems" id="hide">
    <p>こんな悩みを<b>解決できます</b></p>
    <div id="wrapper">
      <div id="wrapper-inner">
        <div id="scroll-down">
        </div>
      </div>
    </div>
  </div>
</div>
