<div class="fullscreen">
  <div class="main-container" id="banner">
    <ul>
      <li>
        <h1 id=banner-title>20代限定<br>
          キャリアの悩みを解決する<br>
          会員制オンライン<span style="font-family: Prata">BAR</span></h1>
      </li>
    </ul>
    <img src="../assets/images/bartender.png" alt="" id="banner-image">
  </div>
</div>
