<div class="fullscreen">
  <div class="main-container fade-in" id="banner">
    <ul>
      <li>
        <h1>Beyond Bar</h1>
      </li>
      <li>
        <h2>heading</h2>
      </li>
    </ul>
  </div>
</div>
