<div class="fullscreen">
  <div class="main-container" id="banner">
    <ul>
      <li>
        <h1><mark>あしたが、<br>
            楽しくなる。<br>
            大人の学びBAR。</mark></h1>
      </li>
      <li>
        <a href="https://line.me/R/ti/p/%40278opcnw" target=”_blank”>
          <button class="button" style="vertical-align:middle"><span>会員登録はこちら</span></button>
        </a>
      </li>
    </ul>
  </div>
</div>
