<div class="fullscreen">
  <div class="main-container" id="banner">
    <ul>
      <li>
        <h1 id=banner-title>20代対象<br>
          キャリアの悩みを解決する<br>
          会員制オンライン<span class="neonText"><span id=banner-title-bar>BAR</span></span></h1>
      </li>
    </ul>
    <div class="fade-in">
      <img src="../assets/images/bartender.jpeg" alt="" id="banner-image">
    </div>
    <%# add a button for smaller screens %>
    <div id="show-on-sm">
      <a href="https://lin.ee/PG223AN" target=”_blank”>
        <button class="signup-button"><span>会員登録はこちら</span></button>
      </a>
    </div>
  </div>
  <div class="problems" id="hide">
    <p>こんな悩みを<b>解決できます</b></p>
    <div id="wrapper">
      <div id="wrapper-inner">
        <div id="scroll-down">
        </div>
      </div>
    </div>
  </div>
</div>
