<div class="fullscreen">
  <div class="main-container" id="banner">
    <ul>
      <li>
        <h1 id=banner-title>New Website Coming Soon</h1>
      </li>
    </ul>
    <div class="fade-in">
      <img src="../assets/images/bartender.png" alt="" id="banner-image">
    </div>
  </div>
</div>
