<div class="fullscreen">
  <div class="main-container" id="banner">
    <ul>
      <li>
        <h1 id=banner-title>New Website<br>
          <span class="neonText"><span id=banner-title-bar>COMING SOON</span></h1>
        </li>
      </ul>
    </div>
  </div>
  <div class="video" style="margin-top: 30px;">
    <video width="600"  autoplay loop muted>
      <source src="../assets/videos/onlinebar.mp4" type="video/mp4">
    </video>
  </div>
  <div class="sns-follow">
    <a class="icons" href="https://twitter.com/BeyondCafe_mid?s=20" target="_blank">
      <i class="fab fa-twitter fa-lg"></i>
      <p>#BEYONDBAR</p>
    </a>
  </div>
