<div class="concept-fullscreen" id="concept">
  <div class="concept-body-container">
    <ul>
      <li>
        <h2>想い/背景</h2>
        <h1>CONCEPT</h1>
      </li>
    </ul>
  </div>
  <div class="concept-container d-flex justify-content-center">
    <li>
      <p>“大学時代のアイツが今はあんなに活躍している<br>
        昔はそんなに変わらなかったのに…”<br>
        <br>
        “仕事で結果を残したい。<br>
        でもなぜか上手くいかない<br>
        このままでいいのかと焦りだけが募る…”<br>
        <br>
        “3年前、熱い想いを持って入社した。<br>
        その想いはどこに行ったんだろう…”<br>
        <br>
        みんな心の底では仕事を充実させたいと思っているはず<br>
        ただ現状の課題に対する解決策を知らないだけ<br>
        そんな貴方に少し先を生きている<br>
        キャリアの先生がバーテンダーとなって<br>
        あしたを楽しくする時間を届けます</p>
    </li>
  </div>
</div>
</div>
