<div class="footer-basic">
  <footer>
    <div class="social">
      <h1>TOKYO
        <h1>
          <p>東京都渋谷区桜丘町21-4 渋谷桜丘町ビル3F<br>
            TEL: 03-6277-5026</p>
        </div>
        <div class="social"><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-facebook-f"></i></a></div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#concept">CONCEPT</a></li>
          <li class="list-inline-item"><a href="#">SERVICES</a></li>
          <li class="list-inline-item"><a href="#">USER VOICE</a></li>
          <li class="list-inline-item"><a href="#">MENTORS</a></li>
          <li class="list-inline-item"><a href="#eventreports">EVENTS</a></li>
        </ul>
        <p class="copyright">Beyond Cafe Inc © 2021</p>
      </footer>
    </div>
