<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://beyond-cafe.com/" target=”_blank”><img src="../assets/images/BC-logo-blk.png" alt="Beyond Cafe Logo"></a>
      <h1>TOKYO
        <h1>
          <p>〒107-0062<br>
            東京都港区南青山4丁目8−21 FETO 1F-B
            <br>
            TEL: 03-6277-5026</p>
          <a href="https://beyond-cafe.com/privacy_policy/" target=”_blank”>
            <h2>PRIVACY POLICY</h2>
          </a>
        </div>
        <p class="copyright">Beyond Cafe Inc © 2021</p>
        <div >
          <a href="#top">
            <i class="arrow up"></i>
          </a>
        </div>
      </footer>
    </div>
