<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="footer-basic">
      <footer>
        <div class="social">
          <h1>TOKYO
            <h1>
              <p>東京都渋谷区桜丘町21-4 渋谷桜丘町ビル3F<br>
                TEL: 03-6277-5026</p>
            </div>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#concept">CONCEPT</a></li>
              <li class="list-inline-item"><a href="#">SERVICES</a></li>
              <li class="list-inline-item"><a href="#">USER VOICE</a></li>
              <li class="list-inline-item"><a href="#">MENTORS</a></li>
              <li class="list-inline-item"><a href="#eventreports">EVENTS</a></li>
            </ul>
            <p class="copyright">Beyond Cafe Inc © 2021</p>
          </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
      </body>
    </html>
