<div class="blank-fullscreen">
  <div class="conversion-container" >
    <span class="neonText">
      <h1>さぁ<span style="font-weight:300; font-family: 'Lato'">BEYOND BAR</span>で<br>
        「なりたい自分」になろう。</h1>
    </span>
    <a href="https://green-tuba-0b1.notion.site/20a39a0d1e1f40d6a855c5bc1781cd5f" target=”_blank”>
      <button class="signup-button" style="margin-top:0px"><span>まずはLINEに登録</span></button>
    </a>
  </div>
</div>
