<div class="report-fullscreen" id="eventreports" style="scroll-margin-top: 80px">
  <div class="report-body-container">
    <ul>
      <li>
        <h2>イベント情報</h2>
        <h1>ABOUT OUR EVENTS</h1>
        <a href="https://note.com/beyondcafe_pr/m/m0e42a66b8727" target=”_blank”>
          <button class="event-button"><span>イベントレポート</span></button>
        </a>
      </li>
    </ul>
  </div>
</div>
