<div class="report-fullscreen" id="eventreports" style="scroll-margin-top: 80px">
  <div class="report-body-container">
    <ul>
      <li>
        <h2>イベント情報</h2>
        <h1>ABOUT OUR EVENTS</h1>
        <a href="https://green-tuba-0b1.notion.site/20a39a0d1e1f40d6a855c5bc1781cd5f" target=”_blank”>
          <button class="event-button"><span>イベントレポート</span></button>
        </a>
      </li>
    </ul>
  </div>
</div>
