<div class="report-fullscreen" id="eventreports">
  <div class="report-body-container">
    <ul>
      <li>
        <h2>イベント情報</h2>
        <h1>ABOUT OUR EVENTS</h1>
        <a href="https://beyond-cafe.com/?post_type=beyond_times&s=beyond+bar" target=”_blank”>
          <button class="event-button"><span>イベントレポート</span></button>
        </a>
      </li>
    </ul>
  </div>
</div>
