<div class="howto-body-container" id="howto" style="margin-top:120px">
  <ul>
    <li>
      <h2>会員登録の流れ</h2>
      <h1><span style="font-family: Prata">MEMBERSHIP</span> REGISTRATION</h1>
    </li>
  </ul>
</div>
<div class="howto-grid-container justify-content-center">
  <div class="row">
    <div class="col-md" id="col-center">
      <h2>01</h2>
      <h1><span style="color: #00c300">LINE</span>友達追加</h1>
      <%# <img src="../assets/images/QR.png" alt="LINE友達追加QRコード" style="width: 42%"> %>
      <a href="https://line.me/R/ti/p/%40278opcnw">
        <button class="signup-button"><span>こちらから</span></button>
      </a>
    </div>
    <div class="col-md" id="col-center">
      <h2>02</h2>
      <h1>プロフィール情報登録</h1>
      <p>LINEで送られてくる案内に沿って
        プロフィールの登録をお願いします。
        登録後審査連絡があります。</p>
    </div>
    <div class="col-md" id="col-center">
      <h2>03</h2>
      <h1>サービス利用開始</h1>
      <p>BEYOND BARを通じて、
        様々な人や知識と出会うことで、
        仕事からプライベートまで充実した
        つながりを得よう！</p>
    </div>
  </div>
  <%# <div class="row">
    <div class="col-md" id="col-center">
      <h2>04</h2>
      <h1>各種イベント参加</h1>
      <p>様々な同世代と交流し
        横のつながりをつくったり、
        界隈のビジネスマンから知見を
        得られるイベントに参加しよう！</p>
    </div>
    <div class="col-md" id="col-center">
      <h2>05</h2>
      <h1>限定Slack
        Communityに参加</h1>
      <p>様々なキャリアにまつわる情報や
        副業/転職につながる案件情報を
        ここで得よう！</p>
    </div>
    <div class="col-md" id="col-center">
      <h2>06</h2>
      <h1>あしたが楽しみに！</h1>
      <p>BEYOND BARを通じて、
        様々な人や知識と出会うことで、
        仕事からプライベートまで充実した
        つながりを得よう！
      </p>
    </div>
  </div> %>
</div>
