<div class="howto-body-container" id="howto" style="margin-top:190px; scroll-margin-top: 120px">
  <ul>
    <li>
      <h2>会員登録の流れ</h2>
      <h1>MEMBERSHIP REGISTRATION</h1>
    </li>
  </ul>
</div>
<div class="howto-grid-container justify-content-center" style="margin-bottom:190px">
  <div class="row">
    <div class="col-md" id="col-center">
      <h2>01</h2>
      <h1><span style="color: #00c300">LINE</span>友達追加</h1>
      <a href="https://line.me/R/ti/p/%40278opcnw" target=”_blank”>
        <button class="signup-button"><span>こちらから</span></button>
      </a>
    </div>
    <div class="col-md" id="col-center">
      <h2>02</h2>
      <h1>プロフィール情報登録</h1>
      <p>LINEで送られてくる案内に沿って
        プロフィールの登録をお願いします。
        登録後審査連絡があります。</p>
    </div>
    <div class="col-md" id="col-center">
      <h2>03</h2>
      <h1>サービス利用開始</h1>
      <p>BEYOND BARを通じて、
        様々な人や知識と出会うことで、
        仕事からプライベートまで充実した
        つながりを得よう！</p>
    </div>
  </div>
</div>
