<%# <div class="howto-fullscreen" id="howto"> %>
<div class="howto-body-container" id="howto">
  <ul>
    <li>
      <h2>会員登録の流れ</h2>
      <h1><span style="font-family: Prata">MEMBERSHIP</span> REGISTRATION</h1>
    </li>
  </ul>
</div>
<%# </div> %>
<div class="howto-grid-container justify-content-center">
  <div class="row">
    <div class="col-md" id="col-center" style="background: #00c300">
      <h2 style="color:white">01</h2>
      <h1 style="color:white">LINE友達追加</h1>
      <img src="../assets/images/QR.png" alt="LINE友達追加QRコード">
    </div>
    <div class="col-md" id="col-center">
      <h2>02</h2>
      <h1>プロフィール情報登録</h1>
      <p>登録後審査連絡があります</p>
    </div>
    <div class="col-md" id="col-center">
      <h2>03</h2>
      <h1>キャリア健康診断実施</h1>
      <p>キャリアコーチに自身の<br>
        キャリアの診断をしてもらおう！</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md" id="col-center">
      <h2>04</h2>
      <h1>各種イベント参加</h1>
      <p>様々な同世代と交流し<br>
        横のつながりをつくったり、<br>
        界隈のビジネスマンから知見を<br>
        得られるイベントに参加しよう！</p>
    </div>
    <div class="col-md" id="col-center">
      <h2>05</h2>
      <h1>限定Slack<br>
        Communityに参加</h1>
      <p>様々なキャリアにまつわる情報や<br>
        副業/転職につながる案件情報を<br>
        ここで得よう！</p>
    </div>
    <div class="col-md" id="col-center">
      <h2>06</h2>
      <h1>あしたが楽しみに！</h1>
      <p>BEYOND BARを通じて、<br>
        様々な人や知識と出会うことで、<br>
        仕事からプライベートまで充実した<br>
        つながりを得よう！
      </p>
    </div>
  </div>
</div>
