<div class="howto-body-container" id="jobs" style="margin-top:190px">
  <ul>
    <li>
      <h2>注目の求人</h2>
      <h1>PARTNER</h1>
      <p>BEYOND BARでは、以下の企業に挑戦の機会をご提供できます</p>
    </li>
  </ul>
</div>
<div class="container logo-container">
  <div class="row logo-row">
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
  </div>
  <div class="row logo-row">
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
    <div class="col-sm"><img src="" alt="example-logo Portrait"></div>
  </div>
</div>
