<div class="howto-body-container" id="mentors">
  <ul>
    <li>
      <h2>MENTORS</h2>
      <h1>MEET THE BARTENDERS</h1>
    </li>
  </ul>
</div>
<div class="container d-flex justify-content-center">
  <div class="row" id="mentor-img">
    <div class="col-md">
      <img src="../assets/images/carlos.png" alt="Akinobu Portrait">
      <h1>ITO CARLOS AKINOBU</h1>
      <h2>伊藤カルロス朗誠</h2>
      <hr>
      <div class="sns">
        <span><a href="https://twitter.com/bumper42?s=20" target=”_blank”><i class="fab fa-twitter fa-lg"></i></a></span>
        <span><a href="https://www.wantedly.com/companies/beyondcafe/post_articles/327790?source=related_posts" target=”_blank”><i class="fas fa-microphone fa-lg"></i></a></span>
      </div>
    </div>
    <div class="col-md">
      <img src="../assets/images/yamamura.png" alt="Yamamura Portrait">
      <h1>YAMAMURA SOKI</h1>
      <h2>山村 壮輝</h2>
      <hr>
      <div class="sns">
        <span><a href="https://www.facebook.com/souki.yamamura" target=”_blank”><i class="fab fa-facebook fa-lg"></i></a></span>
        <span><a href="https://www.linkedin.com/in/%E5%A3%AE%E8%BC%9D-%E5%B1%B1%E6%9D%91-8a6546209" target=”_blank”><i class="fab fa-linkedin fa-lg"></i></a></span>
      </div>
    </div>
    <div class="col-md">
      <img src="../assets/images/guest.jpg" alt="Special Guest">
      <h1>SPECIAL GUEST</h1>
      <h2>スペシャルゲスト</h2>
      <hr>
    </div>
  </div>
</div>
<div class="middle">
  <a href="https://beyond-cafe.com/?post_type=beyond_times&s=beyond+bar" target=”_blank”>
    <button class="signup-button"><span>会員登録はこちら</span></button>
  </a>
</div>
