<div class="howto-body-container" id="mentors" style="scroll-margin-top: 80px">
  <ul>
    <li>
      <h2>メンター紹介</h2>
      <h1>MEET THE BARTENDERS</h1>
    </li>
  </ul>
</div>
<div class="container justify-content-center">
  <div class = "mentor-row">
    <div class="row" id="mentor-img">
      <div class="col-md long-name">
        <img src="../assets/images/carlos.png" alt="Akinobu Portrait">
        <h1>ITO CARLOS AKINOBU</h1>
        <h2>伊藤カルロス朗誠</h2>
        <hr>
        <div class="sns">
          <span><a href="https://www.wantedly.com/companies/beyondcafe/post_articles/327790" target=”_blank”>インタビュー</a></span>
          <span><a href="https://twitter.com/bumper42" target=”_blank”><i class="fab fa-twitter fa-lg" style="margin:0"></i></a></span>
        </div>
      </div>
      <div class="col-md">
        <img src="../assets/images/yamamura.png" alt="Yamamura Portrait">
        <h1>
          YAMAMURA
          SOKI</h1>
        <h2>山村 壮輝</h2>
        <hr>
        <div class="sns">
          <span><a href="https://www.wantedly.com/id/souki_yamamura" target=”_blank”>Wantedly</a></span>
          <span><a href="https://twitter.com/BeyondCafe2022" target=”_blank”><i class="fab fa-twitter fa-lg" style="margin:0"></i></a></span>
        </div>
      </div>
      <div class="col-md">
        <img src="../assets/images/nishioka.jpg" alt="Nishioka Portrait">
        <h1>
          NISHIOKA SHUN</h1>
        <h2>西岡 駿</h2>
        <hr>
        <div class="sns">
          <span><a href="https://www.wantedly.com/companies/beyondcafe/post_articles/301599" target=”_blank”>インタビュー</a></span>
          <span><a href="https://twitter.com/nishioka_shun" target=”_blank”><i class="fab fa-twitter fa-lg" style="margin:0"></i></a></span>
        </div>
      </div>
    </div>
    <div class = "second-row">
      <div class="row" id="mentor-img">
        <div class="col-md">
          <img src="../assets/images/wamiko.jpg" alt="Yamamura Portrait">
          <h1>
            YOKOI MIWA</h1>
          <h2>横井 美和</h2>
          <hr>
          <div class="sns">
            <span><a href="https://www.wantedly.com/companies/beyondcafe/post_articles/319420" target=”_blank”>インタビュー</a></span>
            <span><a href="https://twitter.com/wami_bc" target=”_blank”><i class="fab fa-twitter fa-lg" style="margin:0"></i></a></span>
          </div>
        </div>
        <div class="col-md">
          <img src="../assets/images/uraguchi.jpg" alt="Uraguchi Portrait">
          <h1>URAGUCHI TAKAYA</h1>
          <h2>浦口 嵩矢</h2>
          <hr>
          <div class="sns">
            <span><a href="https://www.wantedly.com/companies/beyondcafe/post_articles/351009" target=”_blank”>インタビュー</a></span>
            <span><a href="https://twitter.com/back_tky_Beyond" target=”_blank”><i class="fab fa-twitter fa-lg" style="margin:0"></i></a></span>
          </div>
        </div>
        <div class="col-md">
          <img src="../assets/images/guest.jpg" alt="Special Guest">
          <h1>
            SPECIAL GUEST</h1>
          <h2>スペシャルゲスト</h2>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
