<div class="howto-body-container" id="menu" style="scroll-margin-top: 80px">
  <ul>
    <li>
      <h2>サービスの内容</h2>
      <h1>OUR SERVICES</h1>
    </li>
  </ul>
</div>
<div class="howto-grid-container justify-content-center" style="margin: 0 160px 120px 160px">
  <div class="row">
    <div class="col-md-4 col-md" id="center-col-img">
      <img src="../assets/images/step1.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>01</h2>
      <h1>オンラインBAR（各種イベント）</h1>
      <p>様々な立場の社会人がバーテンダーとして登壇し多様なトピックについて語り合います。時には、社内ではなかなか言えない悩みを話したり、仕事を前向きに捉えている同世代との繋がりを作ったりできます。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md" id="center-col-img">
      <img src="../assets/images/step2.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>02</h2>
      <h1>キャリア相談</h1>
      <p>累計1,000名以上の求職者のキャリアを支援してきたキャリアアドバイザーがキャリア相談に向き合います。転職先のご提案をご希望の方は、キャリアアドバイザーから企業をご紹介することも可能です。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md" id="center-col-img">
      <img src="../assets/images/step3.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>03</h2>
      <h1>会員限定コミュニティ</h1>
      <p>コミュニティではキャリアや人生にまつわる様々な情報を発信しています。副業や転職に繋がるきっかけを得ることも可能です。また、タテ・ヨコ・ナナメの繋がりが生まれるコミュニティで、ご自身の職能を継続的に高め合うことができます。</p>
    </div>
  </div>
</div>
