<div class="howto-body-container" id="menu" style="scroll-margin-top: 80px">
  <ul>
    <li>
      <h2>サービスの内容</h2>
      <h1>OUR SERVICES</h1>
    </li>
  </ul>
</div>
<div class="howto-grid-container justify-content-center" style="margin: 0 160px 120px 160px">
  <div class="row">
    <div class="col-md-4 col-md" id="center-col-img">
      <img src="../assets/images/step1.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>01</h2>
      <h1>オンラインBAR（各種イベント）</h1>
      <p>様々な立場の社会人がバーテンダーとして登壇。各回様々なトピックについて語り合います。普段社内ではなかなか言えない悩みなど、お酒を飲みながらキャリア相談を行うことができるので、ぜひ社外のメンターとして活用しましょう。
        また仕事を前向きに捉えている20代との繋がりができるので、社内だけではない、社外の同期コミュニティを作りましょう！</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md" id="center-col-img">
      <img src="../assets/images/step2.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>02</h2>
      <h1>キャリア相談（面談 / 企業紹介 / 面接対策etc） </h1>
      <p>これまでに1000人以上の求職者に対してキャリア支援を行なってきたキャリアアドバイザーが1on1で貴方のキャリアに関して面談を行います。転職エージェントとして貴方にあった企業を紹介することも可能です。ただしむやみやたらに転職を進めることは行いませんので、まずは気軽にご相談ください！</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md" id="center-col-img">
      <img src="../assets/images/step3.png" alt="Beyond Bar Virtual Illustration">
    </div>
    <div class="col-md-8 col-md">
      <h2>03</h2>
      <h1>会員限定コミュニティ</h1>
      <p>BEYOND BAR会員限定のSlackコミュニティに招待いたします。タテ・ヨコ・ナナメの繋がりが生まれるコミュニティに参加して、キャリアにまつわる様々な情報や副業/転職につながる案件情報などをここで交換しましょう！</p>
    </div>
  </div>
</div>
