<div class="howto-body-container" id="menu">
  <ul>
    <li>
      <h2>SERVICES</h2>
      <h1>OUR MENU</h1>
    </li>
  </ul>
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-md">
        <img src="../assets/images/step1.png" alt="Beyond Bar Virtual Illustration">
      </div>
      <div class="col-md">
        <h2>01</h2>
        <h1>BEYOND BAR VIRTUAL</h1>
        <p>様々な立場の社会人がバーテンダーとして登壇。
          各回様々なトピックについて語り合います。
          普段社内ではなかなか言えない悩みなど、
          お酒を飲みながらキャリア相談を行うことが
          できるので、ぜひ社外のメンターとして
          活用しましょう！
          また仕事を前向きに捉えている20代との繋がりができるので、社内だけではない、
          社外の同期コミュニティを作りましょう！</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <img src="../assets/images/step2.png" alt="Beyond Bar Virtual Illustration">
      </div>
      <div class="col-md">
        <h2>02</h2>
        <h1>キャリア面談 </h1>
        <p>これまでに1000人以上の求職者に対してキャリア支援を行なってきたキャリアアドバイザーが1on1で貴方のキャリアに関して面談を行います。転職エージェントとして貴方にあった企業を紹介することも可能です。ただしむやみやたらに転職を進めることは
          行いませんので、まずは気軽にご相談ください！</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <img src="../assets/images/step3.png" alt="Beyond Bar Virtual Illustration">
      </div>
      <div class="col-md">
        <h2>03</h2>
        <h1>企業の紹介＋面接対策</h1>
        <p>様々な立場の社会人がバーテンダーとして登壇。
          各回様々なトピックについて語り合います。
          普段社内ではなかなか言えない悩みなど、
          お酒を飲みながらキャリア相談を行うことが
          できるので、ぜひ社外のメンターとして
          活用しましょう！また仕事を前向きに捉えている
          20代との繋がりができるので、社内だけではない、
          社外の同期コミュニティを作りましょう！</p>
      </div>
    </div>
  </div>
</div>
