<div class="uservoice-fullscreen" id="beyondstory" style="scroll-margin-top: 80px">
  <div class="report-body-container" >
    <ul>
      <li>
        <h2 id="h2-responsiveness">ビヨンドストーリー</h2>
        <h1>BEYOND STORY</h1>
      </li>
    </ul>
    <div class="middle">
      <a href=""><img src="../assets/images/comingsoon.jpeg" alt="Beyond Story is coming soon!"></a>
    </div>
  </div>
</div>
