<div class="howto-body-container" id="uservoice">
  <ul>
    <li>
      <h2>ユーザーの声</h2>
      <h1>USER'S VOICE</h1>
    </li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <img src="../assets/images/user.jpg" alt="Beyond Bar Virtual Illustration">
      </div>
      <div class="col-md">
        <h1>Cさん</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.</p>
      </div>
    </div>
  </div>
</div>
