<div class="howto-body-container" id="uservoice" style="scroll-margin-top: 120px">
  <ul>
    <li>
      <h2>ユーザーの声</h2>
      <h1>USER'S VOICE</h1>
    </li>
  </ul>
</div>
<div class="howto-grid-container justify-content-center" style="margin-bottom:190px" id="voice">
  <div class="row">
    <div class="col-md" id="col-center">
      <h1>Miyuさん (社会人3年目)</h1>
      <h2>Case Three Type: 美容販売職→外資系人材企業へ転職</h2>
      <p>新卒で入社した企業がコロナで先行きが不透明になり、かつ自分のライフスタイルの変化などを考えた時に、どんな状況でも稼げる力を身に付けたいと思い転職を考えました。友人が学生時代にBeyondさんを利用していたようで紹介していただき初めて知ったのですが、<b style="color:#3381a5">他のエージェントさんと比べてとても細かく私自身のことを深ぼっていただき、ここまで話を聞いてくれるんだと驚いた</b>ことを覚えています。また自身の仕事の成果を魅力的に言語化して整理していただいたおかげで職務経歴書で落選することはなくなりましたし、結果的に面接でも自分のこれまでとこれからをスラスラ話すことができました。結果的に希望する外資の人材企業に転職することができ、今も楽しく仕事ができています。これから利用するか悩んでいる人は、まず一歩踏み出すために、ご連絡してみてはいかがてしょうか！
        やる気を引き出してくれる最高のパートナーさんに出会えます。</p>
    </div>
  </div>
</div>
