<div class="howto-body-container" id="uservoice" style="scroll-margin-top: 120px">
  <ul>
    <li>
      <h2>ユーザーの声</h2>
      <h1>USER'S VOICE</h1>
    </li>
  </ul>
</div>
<div class="howto-grid-container justify-content-center" style="margin-bottom:190px">
  <div class="row">
    <div class="col-md" id="col-center">
      <p style="margin-top:0px">LINEで送られてくる案内に沿って
        プロフィールの登録をお願いします。
        登録後審査連絡があります。</p>
      <h2>Name</h2>
    </div>
    <div class="col-md" id="col-center">
      <p style="margin-top:0px">LINEで送られてくる案内に沿って
        プロフィールの登録をお願いします。
        登録後審査連絡があります。</p>
      <h2>Name</h2>
    </div>
    <div class="col-md" id="col-center">
      <p style="margin-top:0px">LINEで送られてくる案内に沿って
        プロフィールの登録をお願いします。
        登録後審査連絡があります。</p>
      <h2>Name</h2>
    </div>
  </div>
</div>
