.button {
  display: inline-block;
  border-radius: 500px;
  background-color: $blue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: small;
  padding: auto;
  height: 39.78px;
  width: 135.69px;
  transition: all 0.5s;
  margin: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: #FFFFFF;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color: #FFFFFF;
}

.nav-button{
  display: inline-block;
  border-radius: 500px;
  background-color: transparent;
  border:white solid 1px;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
  &:hover{
    background-color: darkblue;
  }
}

.event-button {
  display: inline-block;
  border-radius: 500px;
  background-color: white;
  border: none;
  color: $black;
  text-align: center;
  font-size: small;
  padding: 20px;
  transition: all 0.5s;
  margin: 5px;
  &:hover{
    font-weight: bold;
    color: white;
    background-color: $black;
  }
  span{
    letter-spacing: 0.1em;
    font-size: medium;
  }
}

.signup-button {
  display: inline-block;
  border-radius: 500px;
  background-color: $blue;
  border: none;
  color: white;
  text-align: center;
  font-size: small;
  padding: 20px;
  transition: all 0.5s;
  margin: 5px;
  &:hover{
    color: $blue;
    background-color: white;
  }
  span{
    letter-spacing: 0.1em;
    font-size: medium;
  }
}
