.button {
  display: inline-block;
  border-radius: 500px;
  background-color: #3381a5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: small;
  padding: auto;
  height: 39.78px;
  width: 135.69px;
  transition: all 0.5s;
  margin: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: #FFFFFF;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color: #FFFFFF;
}

.nav-button{
  display: inline-block;
  border-radius: 500px;
  background-color: transparent;
  border:white solid 1px;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
  &:hover{
    background-color: darkblue;
  }
}

.event-button {
  display: inline-block;
  border-radius: 500px;
  background-color: #3381a5;
  border: white solid;
  color: white;
  text-align: center;
  font-size: small;
  padding: 20px;
  transition: all 0.5s;
  &:hover{
    font-weight: bold;
    color: #3381a5;
    background-color: white;
    border: #3381a5 solid;
  }
  span{
    letter-spacing: 0.1em;
    font-size: medium;
  }
}

.signup-button {
  display: inline-block;
  border-radius: 500px;
  background-color: #3381a5;
  border: #3381a5 solid 1px;
  color: white;
  text-align: center;
  font-size: small;
  padding: 16px;
  transition: all 0.5s;
  margin: 5px;
  margin-top: 18px;
  &:hover{
    color: #3381a5;
    background-color: white;
    border: #3381a5 solid 1px;
  }
  span{
    letter-spacing: 0.1em;
    font-size: medium;
  }
}

// #show-on-sm{
//   margin-left:-40px;
//   .signup-button {
//     background-color: #3381a5;
//     border: #3381a5 solid 1px;
//     color: white;
//     text-align: center;
//     font-size: small;
//     padding: 14px;
//     margin-top: 8px;
//   }
// }

@media (max-width: 960px){
  .signup-button {
    padding: 12px;
    margin-top: 20px;
  }
}

@media (max-width: 720px) {
  .signup-button {
    padding: 18px;
    margin-top: 20px;
  }

  .event-button {
    font-size: 12px;
    padding: 16px 16px;
    width: 120%;
  }
}

// @media screen and (min-width: 0px) and (max-width: 500px) {
//   #show-on-sm{ display: block; }  /* show it on smaller screen */
// }
// @media screen and (min-width: 500px) and (max-width: 1024px) {
//   #show-on-sm{ display: none; }   /* hide it on larger screens */
// }
