.navbar {
  justify-content: space-between;
  opacity: 40%;
  color: black;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  height: 30px;
}

.navbar-nav .nav-link {
  color: white;
  padding: 20px;
  &:hover{
    font-weight: 900;
    color: white;
  }
}

.navbar-toggler{
  border-color: white;
}
