.navbar {
  justify-content: space-between;
  opacity: 40%;
  color: black;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  height: 40px;
}

.navbar-nav .nav-link {
  color: white;
  &:hover{
    font-style: oblique;
    color: white;
  }
}

.navbar-toggler{
  border-color: white;
  background-color: white;
}
