.navbar {
  opacity: 85%;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  height: 30px;
}

.nav-link{
  color: white !important;
  letter-spacing: 0.2em !important;
  padding: 20px;
  font-size: small;
  &:hover{
    font-weight: 700;
    color: white;
  }
}

.navbar-toggler{
  border-color: white;
}
